main {
    height: 100vh;

    display: grid;
    place-items: center;
    transform-style: preserve-3d;
    transform: rotate3d(1,1,1, 45deg);
    /* animation: draaien 10s linear infinite; */
}

@keyframes draaien {
    0% {
        transform: none;
    }
    100% {
        transform: rotate3d(1,1,1, 360deg);
    }
}

ul {
    --maat: 5em;

    position: absolute;

    margin: 0;
    padding: 0;
    list-style: none;

    width: var(--maat);
    height: var(--maat);
    list-style: none;

    transform-style: preserve-3d;
    
    /* transform: rotateY(.10turn) rotateX(.10turn); */
    /* animation: draaien 20s linear infinite; */
}

ul:first-of-type {
	transform:rotatex(0) rotatey(0) rotatez(0) translate3d(calc(var(--maat) * -1), calc(var(--maat) * -1), var(--maat));
}

ul:nth-of-type(2) {
	transform:rotatex(0) rotatey(0) rotatez(0) translate3d(calc(var(--maat) * -1), calc(var(--maat) * 0), var(--maat));
}

ul:nth-of-type(3) {
	transform:rotatex(0) rotatey(0) rotatez(0) translate3d(calc(var(--maat) * -1), calc(var(--maat) * 1), var(--maat));
}

ul:nth-of-type(4) {
	transform:rotatex(0) rotatey(0) rotatez(0) translate3d(var(--maat), calc(var(--maat) * 1), calc(var(--maat) * 0));
}

ul:nth-of-type(5) {
	transform:rotatex(0) rotatey(0) rotatez(0) translate3d(var(--maat), calc(var(--maat) * 1), calc(var(--maat) * -1));
}

ul:nth-of-type(6) {
	transform:rotatex(0) rotatey(0) rotatez(0) translate3d(var(--maat), calc(var(--maat) * 0), calc(var(--maat) * -1));
}

ul:nth-of-type(7) {
	transform:rotatex(0) rotatey(0) rotatez(0) translate3d(var(--maat), calc(var(--maat) * -1), calc(var(--maat) * -1));
}

ul:nth-of-type(8) {
	transform:rotatex(0) rotatey(0) rotatez(0) translate3d(var(--maat), calc(var(--maat) * 0), calc(var(--maat) * 0));
}

ul:nth-of-type(9) {
	transform:rotatex(0) rotatey(0) rotatez(0) translate3d(var(--maat), calc(var(--maat) * -1), calc(var(--maat) * 0));
}

ul:nth-of-type(10) {
	transform:rotatex(0) rotatey(0) rotatez(0) translate3d(calc(var(--maat) * 1), calc(var(--maat) * 1), var(--maat));
}

ul:nth-of-type(11) {
	transform:rotatex(0) rotatey(0) rotatez(0) translate3d(calc(var(--maat) * 1), calc(var(--maat) * 0), var(--maat));
}

ul:nth-of-type(12) {
	transform:rotatex(0) rotatey(0) rotatez(0) translate3d(calc(var(--maat) * 1), calc(var(--maat) * 0), var(--maat));
}

ul:nth-of-type(13) {
	transform:rotatex(0) rotatey(0turn) rotatez(0) translate3d(calc(var(--maat) * 0), calc(var(--maat) * 1), var(--maat));
}

ul:nth-of-type(14) {
	transform:rotatex(0) rotatey(0turn) rotatez(0) translate3d(calc(var(--maat) * 1), calc(var(--maat) * 0), var(--maat));
}

ul:nth-of-type(15) {
	transform:rotatex(0) rotatey(0turn) rotatez(0) translate3d(calc(var(--maat) * 0), calc(var(--maat) * -1), var(--maat));
}

ul:nth-of-type(16) {
	transform:rotatex(0) rotatey(0turn) rotatez(0) translate3d(calc(var(--maat) * 1), calc(var(--maat) * 0), var(--maat));
}

ul:nth-of-type(17) {
	transform:rotatex(0) rotatey(0) rotatez(0) translate3d(calc(var(--maat) * 1), calc(var(--maat) * 0), var(--maat));
}

ul:nth-of-type(18) {
	transform:rotatex(0) rotatey(0) rotatez(0) translate3d(calc(var(--maat) * 1), calc(var(--maat) * 0), var(--maat));
}

ul:nth-of-type(19) {
	transform:rotatex(0) rotatey(0) rotatez(0) translate3d(calc(var(--maat) * 0), calc(var(--maat) * 0), var(--maat));
}

ul:nth-of-type(20) {
	transform:rotatex(0) rotatey(0) rotatez(0) translate3d(calc(var(--maat) * 0), calc(var(--maat) * 0), var(--maat));
}

ul:nth-of-type(21) {
	transform:rotatex(0) rotatey(0) rotatez(0) translate3d(calc(var(--maat) * 0), calc(var(--maat) * 0), var(--maat));
}

ul:nth-of-type(22) {
	transform:rotatex(0) rotatey(0) rotatez(0) translate3d(calc(var(--maat) * 0), calc(var(--maat) * 0), var(--maat));
}

ul:nth-of-type(23) {
	transform:rotatex(0) rotatey(0) rotatez(0) translate3d(calc(var(--maat) * 0), calc(var(--maat) * 0), var(--maat));
}

ul:nth-of-type(24) {
	transform:rotatex(0) rotatey(0) rotatez(0) translate3d(calc(var(--maat) * 0), calc(var(--maat) * 0), var(--maat));
}

ul:nth-of-type(24) {
	transform:rotatex(0) rotatey(0) rotatez(0) translate3d(calc(var(--maat) * 0), calc(var(--maat) * -1), var(--maat));
}

ul:nth-of-type(25) {
	transform:rotatex(0) rotatey(0) rotatez(0) translate3d(calc(var(--maat) * 0), calc(var(--maat) * 0), var(--maat))
}

ul:nth-of-type(26) {
	transform:rotatex(0) rotatey(0) rotatez(0) translate3d(calc(var(--maat) * 0), calc(var(--maat) * -1), var(--maat));
}

li {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

li::before {
    content: '';
    height: 87%;
    width: 87%;
    background-color: #C8002F;
}

ul li:nth-of-type(1) {
    transform: translateZ(calc( var(--maat) / 2));
}

ul li:nth-of-type(2) {
    transform: translateZ(calc( var(--maat) / -2));
}

ul li:nth-of-type(3) {
    transform: rotateX(.25turn) translateZ(calc( var(--maat) / -2));
}

ul li:nth-of-type(4) {
    transform: rotateX(-.25turn) translateZ(calc( var(--maat) / -2));
}

ul li:nth-of-type(5) {
    transform: rotateY(-.25turn) translateZ(calc( var(--maat) / -2));
}

ul li:nth-of-type(6) {
    transform: rotateY(.25turn) translateZ(calc( var(--maat) / -2));
}

li:nth-of-type(1)::before {
    background-color: #009E3C;
}

li:nth-of-type(4)::before {
    background-color: #ffffff;
}

li:nth-of-type(5)::before {
    background-color: #C8002F;
}



